.post{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: transform ease-in-out .2s;
}

.post:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.post-content{
     padding: 15px;
}

.post-thumb img{
    max-width: 100%;
}